body {
  background-image: url("img/12333.png");
}
* {
  margin: 0;
  padding: 0;
  font-family: "Yu Gothic" !important;
  font-weight: 300 !important;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 56, 56);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}
h1 {
  font-size: 3rem !important;
  color: rgb(243, 56, 56) !important;
}
p {
  font-size: 1.05vw;
  color: white;
  padding: 0.7vw;
  margin: 0.5vw;
}
/* HOME */

#ronin {
  height: 100vh;
  width: 100%;
}
#ronin h1 {
  font-size: 7rem !important;
}
#ronin h2 {
  font-size: 6rem !important;
}
h1 {
  font-weight: 400 !important;
}
h2 {
  font-weight: 400 !important;
}
.ronin_textWrap {
  display: flex;
  text-align: center;
  align-items: center;
  width: 100%;
  height: 90%;
}
.ronin_text {
  width: 60%;
  color: rgb(243, 56, 56);
  font-family: "Yu Gothic";
}
.ronin_image {
  width: 30%;
  height: 90%;
  margin: auto;
  border: 1px solid white;
  background-image: url("img/ronin1.jpg");
  background-size: 100% 100%;
}

/* NAVBAR */

.navbarWrapper {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.navBar {
  border-bottom-right-radius: 55px;
  border-bottom-left-radius: 55px;
  height: 100%;
  width: 40%;
  line-height: 80px;
  position: relative;
  font-family: "Yu Gothic";
  text-align: center;
  background-color: rgba(243, 56, 56, 0.7);
}
.navBar a {
  padding: 15px;
  font-size: 30px;
  color: white;
}
.navBar a:hover {
  color: red;
  text-decoration: none;
}

/* FIRST */

#first {
  height: 120vh;
  width: 100%;
  display: flex;
  padding: 20px;
}
.first_image {
  width: 40%;
  height: 100%;

  position: relative;
  border: 1px solid white;
  background-image: url("img/roninFirst.jpg");
  background-size: cover;
}
.first_right {
  width: 60%;
  height: 100%;
}
.first_right_text {
  width: 100%;
  height: 50%;
  text-align: center;
}
.first_right_text2 {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
}
.first_right_text p {
  color: white;
}
.textSeppuku {
  text-align: center;
  width: 100%;
  height: 100%;
}
.imageSeppuku {
  width: 100%;
  height: 100%;
  background-size: cover;
  border: 1px solid white;
  background-image: url("img/roninSecond.jpg");
  background-repeat: no-repeat;
}

/* SECOND */

.second {
  width: 100%;
  height: 90vh;
  display: flex;
  text-align: center;
}
.second_left {
  width: 60%;
  height: 100%;
  padding: 20px;
}
.second_left_img {
  width: 100%;
  height: 40%;
  margin: auto;
  border: 1px solid white;
  background-size: cover;
  background-image: url("img/roninVendetta2.jpg");
}
.second_right {
  width: 40%;
  height: 100%;
  padding: 20px;
}
.second_right_img {
  width: 100%;
  height: 60%;
  margin: auto;
  border: 1px solid white;
  background-size: cover;
  background-image: url("img/roninGraves.jpg");
}

/* FOOTER */

.footer {
  width: 100%;
  height: 200px;
  border-top: 1px solid rgba(255, 255, 255, 0.295);
  display: flex;
  position: relative;
  background-image: url("img/fabric.jpg");
}
.footer a {
  color: rgb(243, 56, 56);
}
.footer a:hover {
  color: white;
  text-decoration: none;
}
.footer_logo {
  width: 15%;
  height: 200px;
  font-size: 7vw;
  line-height: 200px;
}
.footer_img {
  width: 15%;
  height: 100%;
  background-image: url("img/ensoWhite.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}
.footer_links {
  width: 9%;
  height: 200px;
  line-height: 50px;
  font-size: 1.5rem;
}
.footer_socials {
  width: 200px;
  height: 70px;
  text-align: center;
  margin-top: auto;
  margin-left: auto;
}
.footer_socials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.footer_socials img:hover {
  border: 1px solid red;
}

@media (max-width: 700px) {
  .navBar {
    width: 100%;
  }
  #ronin h1 {
    font-size: 4rem !important;
  }
  #ronin h2 {
    font-size: 5rem !important;
  }
  .ronin_textWrap {
    justify-content: center;
  }
  .ronin_textWrap p {
    font-size: 1rem;
  }
  audio {
    width: 250px;
    height: 40px;
  }
  .ronin_image {
    display: none;
  }

  #first {
    height: 100%;
    width: 100%;
    display: block;
    padding: 20px;
  }
  #first h1 {
    margin-top: 40px !important;
    font-size: 2rem !important;
  }
  #first p {
    font-size: 1rem !important;
  }
  .second h1 {
    font-size: 2rem !important;
  }
  .second p {
    font-size: 1rem !important;
  }
  .first_image {
    width: 100%;
    height: 100vh;
    margin: auto;
  }
  .first_right {
    width: 100%;
    height: 100%;
  }
  .first_right_text {
    width: 100%;
    height: 100%;
    text-align: center;
  }
  .first_right_text2 {
    width: 100%;
    display: block;
  }
  .textSeppuku {
    width: 100%;
  }
  .imageSeppuku {
    width: 100%;
    height: 50vh;
  }

  .second {
    width: 100%;
    height: 100%;
    display: block;
  }
  .second_left {
    width: 100%;
    height: 100%;
  }
  .second_left_img {
    width: 100%;
    height: 40vh;
  }
  .second_right {
    width: 100%;
    height: 100%;
  }
  .second_right_img {
    width: 100%;
    height: 40vh;
  }

  /* FOOTER */
  .footer {
    display: flex;
  }
  .footer_logo {
    width: 40%;
    height: 100%;
    font-size: 3rem;
    text-align: center;
  }
  .footer_img {
    display: none;
  }
  .footer_links {
    width: 9%;
    height: 20%;

    line-height: unset;
    font-size: 1.2rem;
  }
  .footer_socials {
    width: 50%;
    height: 55px;
    display: flex;
  }
}
