body {
  margin: 0;
  padding: 0;
}
* {
  font-family: "Yu Gothic";
  user-select: none;
  margin: 0;
  padding: 0;
  font-weight: 300;
}
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(243, 56, 56);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: red;
}

/* HOME */

#home {
  height: 100vh;
  width: 100%;
  background-image: url("img/risingSun2.png");
  background-repeat: no-repeat;
}
#home h1 {
  font-size: 9vw;
}
h1 {
  font-weight: 400 !important;
}
h4 {
  font-weight: 400 !important;
}
.home_text {
  width: 60%;
  margin: auto;
  text-align: center;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
.home_img {
  margin: auto;
  width: 30%;
  height: 80%;
  background-repeat: no-repeat;
}
/* NAVBAR */

.navbarWrapper {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
}
.navBar {
  border-bottom-right-radius: 55px;
  border-bottom-left-radius: 55px;
  height: 100%;
  width: 40%;
  line-height: 80px;
  position: relative;
  font-family: "Yu Gothic";
  text-align: center;
  background-color: rgba(228, 199, 167, 0.9);
}
.navBar a {
  padding: 15px;
  font-size: 30px;
  color: rgba(255, 255, 255);
}
.navBar a:hover {
  color: red;
  text-decoration: none;
}
/* INFO */

.info {
  font-family: "Yu Gothic";
  width: 100%;
  height: 60vh;
}
.info_inner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.info_img1 {
  width: 50%;
  height: 100%;
  background-image: url(img/katanaImage.jpg);
  background-size: 100% 100%;
}
.info_text {
  width: 50%;
  height: 80%;
  background-color: rgba(228, 199, 167, 0.8);
}
.info_text_body {
  text-align: center;
  position: relative;
  padding: 20px;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 1.2vw;
}
.info_text_body span {
  font-size: 2.5vw;
}
.info_img2 {
  width: 50%;
  height: 100%;
  background-image: url(img/samuraiMask.jpg);
}
.info_img3 {
  width: 50%;
  height: 100%;
  background-image: url(img/dragon2.jpg);
  background-size: 100% 100%;
}
/* BANNERS */

#banners {
  font-family: "Yu Gothic";
  width: 100%;
  height: 80vh;
  margin: auto;
  background-image: url("img/linijaColor4.png");
  background-size: 100% 100%;
  display: flex;
}

.banner {
  width: 40vh;
  height: 95%;
  border: 1px solid black;
  margin: auto;
  color: black;
}
.a1 {
  background-image: url("img/firstBanner.jpg");
}
.a2 {
  background-image: url("img/secondBanner.jpg");
}
.a3 {
  background-image: url("img/thirdBanner.jpg");
}

.banner_head {
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner_head_img {
  width: 80%;
  height: 80%;
  border: 3px solid black;
  border-radius: 50%;
}
.banner_body {
  width: 100%;
  height: 50%;
  text-align: center;
  font-size: 1.2vw;
}
#banners h1 {
  font-size: 4rem;
}
#banners p {
  background-color: rgba(255, 255, 255, 0.8);
  font-weight: 400;
  font-size: 1.2rem;
}

/* VIRTUES */

#virtue_header {
  text-align: center;
  color: white;
  font-size: 3vw;
  height: 70px;
  font-weight: 300;
  line-height: 70px;
  background-color: rgb(255, 0, 0);
}
#virtues {
  width: 100%;
  height: 100%;
  display: flex;
}
.virtue {
  margin: 1px;
  width: 20%;
  height: 670px;
  border: 1px solid black;
}
.virtue_head {
  width: 100%;
  height: 70%;
}
.virtue_body {
  width: 100%;
  height: 20%;
}
.virtue_body:hover {
  border: 1px solid black;
}
.virtue p {
  background-color: black;
  text-align: center;
  width: 100%;
  height: 34px;
  line-height: 34px;
  color: white;
  margin: 0;
}
.virtue_bottom {
  background-image: url("img/red.jpg");
  width: 100%;
  height: 33px;
}
.one {
  background-image: url("img/zmaj2.jpg");
}
.two {
  background-image: url(img/r1real.png);
  background-size: cover;
}
.three {
  background-image: url(img/r2real.png);
  background-size: cover;
}
.four {
  background-image: url(img/r3real.png);
  background-size: cover;
}
.five {
  background-image: url(img/r4real.png);
  background-size: cover;
}
.six {
  background-image: url(img/r5real.png);
  background-size: cover;
}
.seven {
  background-image: url(img/r6real.png);
  background-size: cover;
}
.eight {
  background-image: url(img/r7real.png);
  background-size: cover;
}
.nine {
  background-image: url(img/r8real.png);
  background-size: cover;
}
/* FOOTER */

.footer {
  width: 100%;
  height: 200px;
  display: flex;
  position: relative;
  background-image: url("img/fabric.jpg");
}
.footer a {
  color: rgb(243, 56, 56);
}
.footer a:hover {
  color: white;
  text-decoration: none;
}
.footer_logo {
  width: 15%;
  height: 200px;
  font-size: 7rem;
  line-height: 200px;
}
.footer_img {
  width: 14%;
  height: 100%;
  background-image: url("img/ensoWhite.png");
  background-repeat: no-repeat;
  background-size: contain;
  justify-content: center;
}
.footer_links {
  width: 9%;
  height: 200px;
  line-height: 50px;
  font-size: 1.5rem;
}
.footer_virtues {
  color: white;
  width: 440px;
  height: 30px;
  margin-top: auto;
  color: rgb(243, 56, 56);
}
.footer_virtues span:hover {
  color: white;
  cursor: pointer;
}

.footer_socials {
  width: 200px;
  height: 70px;
  text-align: center;
  margin-top: auto;
  margin-left: auto;
}
.footer_socials img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.footer_socials img:hover {
  border: 1px solid red;
}

/* VIRTUES OF BUSHIDO */

.virtue_body {
  position: relative;
  cursor: pointer;
}
.popuptext {
  visibility: hidden;
  width: 90%;
  height: 70%;
  text-align: center;
  border-radius: 6px;
  padding: 8px 0;
  z-index: 1;
  position: fixed;
  opacity: 0;
  transition: 0.3s;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -70%) scale(0.9);
}
.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1;
  opacity: 0;
  transition: 0.3s;
  visibility: hidden;
}

.virtue_body .show {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 700px) {
  #home {
    background-size: cover;
  }
  #home h1 {
    font-size: 4rem;
    font-weight: 700 !important;
  }
  h4 {
    font-size: 1.2rem !important;
    font-weight: 500 !important;
  }
  .home_text {
    width: 100%;
  }
  .navBar {
    width: 100%;
  }

  .info {
    height: 100%;
    padding: 5px;
  }
  .info_inner {
    width: 100%;
    height: 100%;
    display: block;
    align-items: unset;
  }
  .info_img1 {
    width: 100%;
    height: 250px;
    border: 1px solid black;
  }
  .info_text {
    width: 100%;
    border: 1px solid black;
  }
  .info_text_body {
    text-align: center;
    position: relative;
    padding: 20px;
    top: unset;
    -ms-transform: unset;
    -webkit-transform: unset;
    transform: unset;
    font-size: 1rem;
  }
  .info_text_body span {
    font-size: 2.5rem;
  }
  .info_img2 {
    width: 100%;
    height: 250px;
    border: 1px solid black;
    background-image: url(img/samuraiMask.jpg);
    background-size: 100% 100%;
  }
  .info_img3 {
    width: 100%;
    height: 250px;
    border: 1px solid black;
  }
  /* BANNERS */
  #banners {
    height: 100%;
    display: block;
  }
  .banner {
    width: 90%;
    margin: 10px auto;
  }
  /* VIRTUES */

  #virtue_header {
    text-align: center;
    color: white;
    font-size: 2rem;
    height: 70px;
    font-weight: 300;
    line-height: 70px;
    background-color: rgb(255, 0, 0);
  }
  #virtues {
    display: block;
  }
  .virtue {
    width: 80%;
    height: 470px;
    margin: 40px auto;
  }
  .virtue_head {
    height: 60%;
  }
  .virtue_body {
    height: 40%;
  }
  .virtue_body:hover {
    border: 1px solid black;
  }
  .virtue_bottom {
    height: 0px;
  }
  /* FOOTER */
  .footer {
    display: flex;
  }
  .footer_logo {
    width: 40%;
    height: 100%;
    font-size: 3rem;
    text-align: center;
  }
  .footer_img {
    display:none;
  }
  .footer_links {
    width: 9%;
    height: 20%;

    line-height: unset;
    font-size: 1.2rem;
  }
  .footer_virtues {
    display:none;
  }
  .footer_socials {
    width: 50%;
    height: 55px;
    display: flex;
  }

}
