body {
    /* height:3000px; */
    /* background: rgb(49,94,99);
    background: linear-gradient(0deg, rgba(49,94,99,1) 0%, rgba(255,255,255,1) 100%); */
    /* background: rgb(21,82,70);
    background: linear-gradient(0deg, rgba(21,82,70,1) 0%, rgba(255,255,255,1) 100%); */
    /* background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(178,245,255,1) 100%); */
    /* background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(24,24,24,1) 10%, rgba(22,31,32,1) 17%, rgba(35,53,54,1) 26%, rgba(55,86,87,1) 34%, rgba(140,202,204,1) 67%, rgba(187,246,247,1) 83%, rgba(238,252,252,1) 100%); */
    /* background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(32,32,65,1) 40%, rgba(92,175,203,1) 87%, rgba(171,241,255,1) 100%); */
/* background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(64,102,103,1) 47%, rgba(205,253,255,1) 100%); */
/* background: rgb(0,0,0);
background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(31,44,45,1) 17%, rgba(55,86,87,1) 34%, rgba(140,202,204,1) 67%, rgba(187,246,247,1) 83%, rgba(238,252,252,1) 100%); */
}
@font-face {
    font-family: norse;
    src: url(font/RunyTunesRevisitedNF.ttf);
}

.first {
    width:100%;
    height:90vh;
    background-image: url('img/head7.jpg');
    background-size:100%;
}
.first_norsePNG {
    width:40%;
    height: 70%;
    background-size: contain;
    background-repeat: no-repeat;
    position:relative;
    float:right;
    opacity:0.2;
    align-items: center;
    /* border: 1px solid red; */
    background-image: url('img/asd33.png');
}

@font-face {
    font-family: norse2;
    src: url(font/Norse.otf);
}



.navbar {
    width:60%;
    height:11%;
    margin:auto;
    color:white;
}
.navbar_linkovi {
    
    font-size: 35px;
    font-family: norse;
}
.navbar a {
    padding:30px;
    margin:auto;
    color:white;
}
.navbar a:hover {
    text-decoration: none;
    color: #add8e6;
}





.navbar1 {
    width:100%;
    height:7%;
    background-color: rgb(0, 0, 0);
    color:white;
    visibility: hidden;
    position:fixed;
    z-index: 1;
}
.navbar_linkovi1 {
    
    font-size: 35px;
    font-family: norse;
}
.navbar1 a {
    padding:30px;
    margin:auto;
    color:white;
}
.navbar1 a:hover {
    text-decoration: none;
    color: #add8e6;
}





.dropdown {
    border: none;
    background-color: transparent;
}
.dropdownLista {
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.37);
}
.dropdownLista a {
    color: black;
    padding: 12px 16px;
    display: block;
}
  
.dropdownLista a:hover {
    background-color: #ddd;
}
.dropdownWrap:hover .dropdownLista {
    display: block;
}


/* TIMELINE */

.timeline {
    width:100%;
    height:100vh;
    padding:20px;
}
.timeline_head {
    width:70%;
    height:70px;
    margin:auto;
    display:flex;
    user-select: none;
}

.timeline_head div {
    text-align: center;
    line-height: 70px;
    font-family: norse;
    font-size: 30px;
    width:20%;
    height:100%;
    border-right:1px solid rgba(0, 0, 0, 0.1);

}
.timeline_head div:hover {
    background: rgb(139,139,139);
    background: linear-gradient(180deg, rgba(139,139,139,1) 0%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 38%, rgba(255,255,255,1) 63%, rgba(139,139,139,1) 100%);
    cursor: pointer;
}
.timeline_body {
    width:100%;
    height:80%;
    margin-top: 40px;
}
.timeline_linija {
    width:100%;
    height:1px;padding:20px;
}
.age {
    width:97.2%;
    height:75.2%;
    display:flex;  
    opacity:1;
    position: absolute;
    transition: visibility 0s linear 300ms, opacity 300ms;

}
.age_text {
    height:100%;
    width:46.5%; 

}
.ageHidden {
    width:97.2%;
    height:75.2%;
    display:flex;  
    position: absolute;
    opacity:0;
    transition: visibility 0s linear 300ms, opacity 300ms;

}
.iceage_img {
    background-image: url('img/iceAge.jpg');
    background-size: 100% 100%;

    width:54.5%;
    height:100%;
}
.stoneage_img {
    background-image: url('img/stoneAge.jpg');
    background-size: 100% 100%;
    width:54.5%;
    height:100%;
}
.bronzeage_img {
    background-image: url('img/bronzeAge.jpeg');
    background-size: 100% 100%;
    width:54.5%;
    height:100%;
}
.ironage_img {
    background-image: url('img/ironAge.jpg');
    background-size: 100% 100%;
    width:54.5%;
    height:100%;
}
.vikingage_img {
    background-image: url('img/vikingAge.jpg');
    background-size: 100% 100%;
    width:54.5%;
    height:100%;
}

.strelica {
    display: flex; 
    align-items: center; 
    font-size:40px;
    margin-right: 10px; 
    margin-left: 10px; 
    cursor: pointer;
    user-select: none;
}
.strelica:hover {
    color: blue;
}

/* SECOND */

.second {
    width:100%;
    height:130vh;
    padding:20px;
    /* border: 1px solid red; */
    
}
.second_text {
    width:60%;
    height:100%;
    font-size: 20px;
    font-family: 'sans serif';
    text-align: center;
}
.second_1strow{
    width:100%;
    height:50%;

    display:flex;
}
.second_1strow div {
    margin:auto;
}
.second_2ndrow{
    width:100%;
    height:50%;
    display:flex;
}
.second_2ndrow div {
    margin:auto;
}
/* DANSKA */

.zemlja {
    width:17%;
    height:100%;

}
.danska_head {
    width:80%;
    height:80%;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/1.png');
}
.danska_body {
    width:100%;
    height:20%;
    text-align: center;
    font-size: 40px;
    font-family: norse;
}

/* FINSKA */

.finska_head {
    width:80%;
    height:55%;

    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/2.png');
}
.finska_body {
    width:100%;
    height:20%;
    text-align: center;
    font-size: 40px;
    font-family: norse;
}

/* ISLAND */

.island_head {
    width:100%;
    height:64%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/3.png');
}
.island_body {
    width:100%;
    height:20%;
    text-align: center;
    font-size: 40px;
    font-family: norse;
}

/* NORVESKA */

.norveska_head {
    width:80%;
    height:80%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/4.png');
}
.norveska_body {
    width:100%;
    height:20%;
    text-align: center;
    font-size: 40px;
    font-family: norse;
}

/* SVEDSKA */

.svedska_head {
    width:100%;
    height:65%;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url('img/5.webp');
}
.svedska_body {
    width:100%;
    height:20%;
    text-align: center;
    font-size: 40px;
    font-family: norse;
}

.banner {
    width:100%;
    height:10vh;
   
    background-image: url('img/nordicPattern1.jpg');
}

/* FOOTER */

.footer {
    width:100%;
    height:20vh;
    display:flex;
    background-image: url('img/footerJPG.jpeg');
    background-size: 25% 400%;
}
.footer_img {
    background-image: url('img/asd33.png');
    width:13%;

    height:100%;
    background-size: contain;
    background-repeat: no-repeat;
}
.footer_text {
    width:30%;
    height:100%;

}
.footer_text a {
    color:white;
    font-size: 160%;
    font-family: norse;
}
.footer_text a:hover {
    text-decoration: none;
    color: #add8e6;
}
.slika:hover {
    zoom:150%;
    cursor: pointer;
}